<h2 class="screen-align">Createtwo</h2>
<div id="template-iu37" class="gjs-row">
    <div id="template-iolt" class="gjs-cell">
        <label id="template-ij72" class="label ">name
            <br id="template-it4r5" class="">
        </label>
        <input id="template-ithh" [(ngModel)]="twodata.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-iz1ca" (click)="GpCreate()" class="button btn btn-primary ">Create</div>
    </div>
    <div id="template-ik5w" class="gjs-cell">
        <label id="template-imxe" class="label ">email</label>
        <input id="template-i5fz" [(ngModel)]="twodata.email" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>